[submodule "3rdparty/gedmo-doctrine-extensions"]
	path = 3rdparty/gedmo-doctrine-extensions
	url = git@github.com:rotdrop/DoctrineExtensions.git
	branch = production/orm-2.11.x/cafevdb
[submodule "3rdparty/mediamonks-doctrine-extensions"]
	path = 3rdparty/mediamonks-doctrine-extensions
	url = git@github.com:rotdrop/mediamonks-doctrine-extensions.git
	branch = feature/transform-context-field
